<main>
  <div class="forms" >
      <form action="/action_page.html" style="margin:0px;padding:0px" #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)" novalidate>
          <div class="login_head">
              <img class="login_head_img" src="../assets/images/back.svg" alt="" >
          <h2 class="header_2">Log in with Quantum</h2>

          </div>
          <div class="info" style="margin:0px;">
                  <div class="radio_div" style="display:flex;">
                      <div style="display:flex">
                          <input type="radio" ngModel id="radio1" aria-label="District" name="choice" value="District">
                          <p id="radio_label"  style="padding-left: 8px;">District</p>
                          <input type="radio" ngModel id="radio" name="choice" value="Independent school"  aria-label="Independent school" style="margin-left: 32px;">
                          <p id="radio_label" style="padding-left: 8px;">Independent school</p>
                     </div>
                  </div>
                  <br>
                  <div style="margin:0px;">
                      <label  class="field" id="state">State*</label><br>
                      <select ngModel  style="font-size:16px;margin-bottom: 0px;margin-top:5px;border: 0px;" name="test" aria-labelledby="state" >
                          <option value="Alabama" >Alabama </option>
                          <option value="Alabama1">Alabama1 </option>
                          <option value="Alabama2">Alabama 2</option>
                        </select>
                      <!--label style="font-size:16px;margin-bottom: 0px;margin-top:5px">Alabama School District</label-->
                      <!--span class="triangle-down"></span-->
                      <hr style="margin:0px;">
                  </div>
                  <div style="margin-top:36px">
                      <label  class="field" id="district">District*</label><br>
                      <select ngModel  style="font-size:16px;margin-bottom: 0px;margin-top:5px;border: 0px;" name="test" aria-labelledby="district" >
                          <option value="Alabama School District" >Alabama School District</option>
                          <option value="Alabama School District 1">Alabama School District 1</option>
                          <option value="Alabama School District 2">Alabama School District 2</option>
                        </select>
                      <hr style="margin:0px;">
                  </div>
                  <div style="margin:0px;">
                      <input ngModel placeholder="Username/Email ID*" id="login_input" name="username"/>

                      <span style="float:right;font-size:14px;color:#1F7A54;font-weight:bold ;margin-top: 5px;"><a href="" style="text-decoration: none;color:#1F7A54">FORGOT USERNAME?</a></span>
                  </div> <br>
                  <div style="margin-top:34px">
                      <div style="display:flex;justify-content: space-between;">
                          <input ngModel type="password" name="password" placeholder="Password*"style="border: 0px; font-size: 16px;" >
                      <a href="" aria-label ="show password logo"><img src="../assets/images/visibility_black_24dp.svg"  alt=""> </a>
                      </div>
                      <hr style="margin:0px;width: 100%;">
                      <span style="float:right;font-size:14px;color:#1F7A54;font-weight:bold;margin-top: 5px;"><a href="" style="text-decoration: none;color:#1F7A54">FORGOT PASSWORD?</a></span>

                  </div>
                  <div style="margin-top:26px;display: flex;">
                      <input type="checkbox" aria-labelledby="checkb">
                      <p style="padding-top:3px ;font-weight: bold;padding-left: 8px;" id="checkb"  >Remember Me</p>
                  </div>

          </div>
          <div style="margin-top: 34px; display: flex; justify-content: center;">
              <!-- <button type="button" id="submit"  [routerLink]="['/dashboard']" >LOG IN</button> -->
              <button  id="submit"  >LOG IN</button>
          </div>
          <!--button style="width: 215.5PX;height:40px;margin-top:20px;border: none;text-decoration: none;border-radius:4px ;background-color:#3FD28B;text-align:center;margin-left:136px;box-shadow: 0px 3px 5px #0000003D;">LOG IN </button-->
      </form>

  </div>
</main>
<div style="margin-top: 33px;">
  <p class="about">About <span>|</span> Contact Us</p>
</div>
