$background_color : rgb(238,238,238);
$header_green:rgb(63,210,139);
$card_bg:white;
$about_txt_color:rgb(31,122,84);
$tabs_bg_color:rgb(141,220,151);

@font-face {
    font-family: myFirstFont;
    src: url(../font/Quicksand-VariableFont_wght.ttf);
  }
@mixin font_style{
    font-family: myFirstFont;
    
    font-weight: 500;
}
@mixin disp_flex {
    display: flex;
    align-items: center;
}
@mixin badge{
    position: absolute;
    top: 4px;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 75%;
    background-color: #2A7FF3;
    color: white;
}
@mixin arrow_down{
    border: 0 !important;
    border-bottom: 0.1px solid #000000 !important;
    appearance: none;
    background-image: url(../images/arrow-down.svg);
    background-size: 20px;
    background-position: calc(100%) center;
    background-repeat: no-repeat;
}

body {
    background-color: $background_color;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
}
header{
    height: 56px;
    background: black url('../images/header\ pattern\ image.png') 0% 0% repeat padding-box;
    @include disp_flex();
    justify-content: space-between;
    padding-right: 8px;
    .brand_img{
        margin: 10px 5px;
    }
}
.nav_list{
    list-style-type: none;
    margin: 0 12px;
    padding: 0;
    font-size: 16px;
    @include disp_flex();
    .nav_item{
        padding: auto;
    } 
    }

li >a{
    @include font_style();
    font-size: 16px;
    line-height: 15px;
    color: $header_green;
    text-decoration: none;
}

li:not(:nth-last-child(-n+4)) {
    height: 56px;
    @include disp_flex();
    margin-right: 28px;
    padding-left: 4px;
    padding-right: 4px;
}

li>a>img{
    margin-right:32px;
}
.profile{
    height: 30px;
    width: 30px;
    border-radius: 17px;
    border:2px solid $header_green;
    
    }
#alert_div{
    display: none;
    position: absolute;
    background-color: azure;
    width: -webkit-fill-available;
    margin: 5px 5px;
    }

.hamburger{
    display: none;
    background-color: transparent;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
#myLinks {
    display: none ;
  }
.dropdown-content{
    display: none;
}
.badge1 {
    right: 162px;
    @include badge();
    // height: fit-content; // width: fit-content;
}
span.badge2 {
    @include badge();
    right: 107px;
}
span.badgep {
    position: absolute;
    top: 4px;
    right: 45px;
    font-size: 15px;
    padding: 3px 4px;
    border-radius: 188%;
    background-color: WHITE;
    color: BLACK;
}
.active{
    border-bottom: 4px solid white;
    color: white !important;
    a{
        color: white !important;
    }
}
 

.tabs{
    @include disp_flex();
    justify-content: space-evenly;
    height: 64px;
    background-color:$tabs_bg_color;
    margin:24px 24px 0px 24px;
}
.tab_option{
    @include disp_flex();
    flex: 1;
    justify-content: center;
}
.tab_option>p{
    font-size:16px;
    @include font_style();
    
}
.act{
    border-bottom: 3px solid black;
    height: -webkit-fill-available;
}

.filter{
    @include disp_flex();
    @include font_style();
    justify-content: space-between;
    margin:24px 24px 0px 24px;
    font-size: 15px;
}
.sort{
    @include disp_flex();
    
}
#browser{
    background-color: $background_color;
    color: #333333;
    @include font_style();
    /* font-size: 16px; */
    margin-right: 24px !important;
    width: 156px;
    height: fit-content;
    margin: 12px 10px;
    @include arrow_down();
}
#browser1{
    margin-top:16px ;
    width: 100%;
    @include arrow_down();
}
.sort > ::placeholder{
    font-size: 18px;
    font-weight: 600;
}
.card_content > ::placeholder{
    font-size: 16px;
    @include font_style();
    color:black;
}
.container{
    /*padding:16px 24px 0px 24px;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 24px;
    margin-top:16px;
    margin-left: 5%; 
    margin-right: 5%; 
}
.card{
    /* height: auto; */
    background-color: $card_bg;
    @include font_style();
}
.card_top{
    display: flex;
}

.fav{
    height: 24px;
    height: fit-content; 
}
.card_info{
    padding: 24px 16px 20px 24px;
    background-color: $card_bg;
}
.course_i{
    height: 157px;
}
.card_content{
    flex:1;
    align-items: center;
    margin:0px 16px;
    
}
.card_content >h3{
    margin:0px !important;
    font-size: 16px;
    
}
.card_content >p{
    margin:7px 0px !important;
    font-size: 12px;
    
}
.card_content >p >b{
    margin-left: 6px;
    
}
.course_dates{
    display: flex;
    font-size: 12px;
}
.dash{
    margin:0px 9px;
}
.card_footer{
    display: flex;
    justify-content: space-around;
    margin-top:16px;
}
.card_hr{
    margin-top:16px;
}
.expired{
    position: absolute;
    color: #D80000;
    background-color: #FFE4E6;
    font-size: 10px;
}

.about{
    @include font_style();
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 16px !important;
    color: $about_txt_color;
    text-align: center;
    margin: 0;
}

.about > span{
    color: #0000001F;
}
footer{
    margin-left:auto;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #E0E1E1;
}
.footer_div{
    display: flex;
}
.copy{
    @include font_style();
    font-size: 12px;
    line-height: 16px;
    color: #616161;
    text-align: center;
    border-left: 1px;
    span{
    color: #616161;
    @include font_style();
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    margin-left: 8px;
    margin-right: 11px;
}
}
 

.disabled{
    opacity: 0.5;
}

@media only screen and (max-width: 920px){
    span.badge1{
        right:182px;
    }
    span.badge2{
        right:127px;
    }
    span.badgep{
        right:65px;
    }
    li:not(:nth-last-child(-n+4)){
        display: none;
    }
    .container{
        grid-template-columns: 1fr;
        margin-left: 24px;
        
    }
    .hamburger{
        display:block;
        margin-right: 0px;
    }
     #myLinks {
        display: none;
        background-color:#FFFFFF;
        position: absolute;
        margin-left: 69%;
        position: absolute;
        z-index: 1;
        width: 29%;
        box-shadow: 0px 13px 20px #0000003D;
      }
      
      #myLinks a {

        color: #1F7A54;
        padding: 10px 8px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        font-family: 'Quicksand';
        
      }
      #myLinks a:hover {
        background-color: #0000001F;
        color: #1F7A54;
      }
    .card{
        height: auto;
    }
    .course_dates{
        display: flex !important;
    }
    .dash{
        display: inline-block !important;
    }
    /* .card{
        width:100%;
    } */
}
@media only screen and (max-width: 1090px){
    
    .course_dates{
        display: block;
    }
    .dash{
        display: none;
    }
    .card{
        height: auto;
    }
    
}