body{
    background-color: peachpuff;
    color:darkbrown;
    font-family: 'Open Sans',sans-serif;
}
h1{
    border-bottom:3px solid white;
    width:fit-content;
}
select{
    border:2px solid darkbrown;
    background-color: peachpuff;
    color:darkbrown;
    font-family: 'Open Sans',sans-serif;
}