<main>
  <form>
    <h3>Log In</h3>
    <input type="text" aria-label="Username/email id" placeholder="Email Id"><br>
    <a>FORGOT USERNAME?</a><br>
    <input type="text" aria-label="Password" placeholder="Password"><br>
    <a>FORGOT PASSWORD?</a><br>
    <div id="checkbox_div"><input type="checkbox" id="checkb"><label for="checkb">Remember Me</label></div>
    <button [routerLink]="'/walkin'">LOG IN</button><br>
    <label style="font-size:12px;font-weight:bold">Not registered yet?</label>
    <a style="justify-content: center;">CREATE AN ACCOUNT</a>

  </form>
</main>
