<div class="filter">
  <div class="show" tabindex="0">
      <p>Showing 4 of 4 courses</p>
  </div>
  <div class="sort">
      <p >Sort By:</p>
      <input list="courses" placeholder="Course Name" id="browser" aria-label="sort by">
      <datalist id="courses">
          <option value="Course1">
          <option value="Course2">
      </datalist>
      <img src="../assets/images/sort.svg" alt="" tabindex="0" aria-label="button sort by descending" >
  </div>
</div>
<hr style="margin:0px 24px;">
